---
Language: Cpp
BasedOnStyle: LLVM

#
# See https://clang.llvm.org/docs/ClangFormatStyleOptions.html
#

# Indentation
IndentWidth: 2
TabWidth: 2
IndentCaseLabels: true
IndentPPDirectives: None
UseTab: Never
ColumnLimit: 140

# Alignment
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Right
AlignOperands: true
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 5

# Align members of array of structures to the left
# Example:
# struct S array[] = {
# {1, 2, 3},
# {4, 5, 6}
# };
AlignArrayOfStructures: Left

# Breaks
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: true
BinPackParameters: true
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: true
BreakConstructorInitializersBeforeComma: false
BreakStringLiterals: true
BraceWrapping:
    AfterFunction: true
    AfterControlStatement: Always
    AfterStruct: true

# Spaces
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true


# Add space before and inside parentheses in control statements
# Example:
# if ( condition )
# while ( condition )
SpaceBeforeParens: ControlStatements

SpaceInEmptyParentheses: false
SpacesInParentheses: false
SpacesInConditionalStatement: true
SpacesBeforeTrailingComments: 1
SpacesInAngles: false
SpacesInContainerLiterals: true
SpacesInCStyleCastParentheses: false
SpacesInSquareBrackets: false

# Other
KeepEmptyLinesAtTheStartOfBlocks: true
MaxEmptyLinesToKeep: 1
PointerAlignment: Right
ReflowComments: true
SortIncludes: false
