<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="freETarget.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <freETarget.Properties.Settings>
            <setting name="name" serializeAs="String">
                <value>Azmodan</value>
            </setting>
            <setting name="portName" serializeAs="String">
                <value>COM8</value>
            </setting>
            <setting name="baudRate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="displayDebugConsole" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="defaultTarget" serializeAs="String">
                <value>Air Pistol</value>
            </setting>
        </freETarget.Properties.Settings>
    </userSettings>
</configuration>