<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="freETarget.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <freETarget.Properties.Settings>
            <setting name="name" serializeAs="String">
                <value>Azmodan</value>
            </setting>
            <setting name="portName" serializeAs="String">
                <value />
            </setting>
            <setting name="baudRate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="displayDebugConsole" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="defaultTarget" serializeAs="String">
                <value>Air Pistol Practice</value>
            </setting>
            <setting name="targetColor" serializeAs="String">
                <value>Moccasin</value>
            </setting>
            <setting name="drawMeanGroup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="calibrationX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="calibrationY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MatchShots" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="OnlySeries" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="voiceCommands" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="pdfPath" serializeAs="String">
                <value>.\pdf</value>
            </setting>
            <setting name="targetDistance" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="scoreVoice" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="score10BackgroundColor" serializeAs="String">
                <value>Aqua</value>
            </setting>
            <setting name="score9BackgroundColor" serializeAs="String">
                <value>Aqua</value>
            </setting>
            <setting name="scoreDefaultBackgroundColor" serializeAs="String">
                <value>Aqua</value>
            </setting>
            <setting name="scoreOldBackgroundColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="score10PenColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="score9PenColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="scoreDefaultPenColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="scoreOldPenColor" serializeAs="String">
                <value>LightSkyBlue</value>
            </setting>
            <setting name="calibrationAngle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fileLogging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SensorDiameter" serializeAs="String">
                <value>230</value>
            </setting>
            <setting name="SensorNorthX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SensorNorthY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SensorWestX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SensorWestY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SensorSouthX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SensorSouthY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SensorEastX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SensorEastY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Calibre" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="Paper" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ignoreMiss" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LEDbright" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="targetName" serializeAs="String">
                <value>0</value>
            </setting>
        </freETarget.Properties.Settings>
    </userSettings>
</configuration>